@model LanarkshireGamers.ViewModel.SearchGameViewModelResults

@foreach (var item in Model.Games)
{
    <fieldset>
        <div class="editor-field">
             <h2>@Html.EditorFor(modelItem => item.Name)</h2>
        </div>
    </fieldset>
}
